* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    width: 100%;
    grid-template-areas: "header header header header header" "title title title title title" "title title title title title" "title title title title title" "title title title title title" "mid-nav mid-nav mid-nav mid-nav mid-nav" "course course course course course" "course course course course course" "course course course course course" "footer footer footer footer footer";
    grid-template-rows: 1fr 4fr 1fr 3fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

#web-design {
    background: url("/Users/ike/Desktop/CW/Sites/clarusway_web_design/img/showcase.jpg");
    display: grid;
    grid-area: 2/1/6/6;
    align-items: center;
    justify-content: center;
    width: 120em;
    // height: 18em;
    object-fit: none;
    object-position: bottom;
}

.hero {
    grid-area: 7 / 1 / 10 / 6;
}