.main-title {
    min-height: 100%;
    grid-area: 2 / 1 / 6 / -1;
    display: flex;
    // width: 100%;
    // text-align: center;
    // justify-content: center;
}

.hero {
    grid-area: 7 / 1 / 10 / -1;
    display: flex;
    // align-items: center;
    // justify-content: center;
}

h1 {
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
    padding-top: 1.5em;
}

#title-par {
    color: white;
    vertical-align: top;
    padding-bottom: 7em;
}